/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .navbar {
    background-color: rgb(90, 85, 85);
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    position: relative;
    padding: .5rem 1rem;
    flex-flow: row nowrap;
    justify-content: flex-start;

  }

 .navbar .container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
 }

 .navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 1.2rem;

 }

 .navbar a:hover {
  background-color: rgb(211, 120, 120);
}

.navbar .counter {
  color: white;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;

}   

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 1.5rem 0 1.5rem 0;
}

 .container {    
  margin-top: 3rem;
  width: 100%; 
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  }

 .row-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
     
 }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  align-self: center;
}

.col a {
  text-decoration: none;
  background-color: rgb(0, 123, 255);;
  color: #dfd9d9;
  border: 2px solid #4c504c;
  border-radius: 6px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}


.articles {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: 10px;
  grid-area: articles;
  }

.article-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 5px;
  }

 .article-title {
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px;
 }

 .article-body {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50%;
  color: #5c5b5b;
  padding: 5px;
  }

.read-more a {
  text-decoration: none;
  background-color: #b1b1b1;
  color: #5c5b5b;
  border: 2px solid #4c504c;
  border-radius: 6px;
  padding: 5px;
  }
  .options {
    text-align: right;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .options a {
    color: rgb(73, 73, 73);
  }

  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125); 
    margin: 0.25rem 0 0.25rem 0;
    width: 100%;
  }

  .list-group-row {
    display: flex;    
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    justify-content: space-between;
    align-items: center;
  }

  .list-group-row a { 
    color: rgb(73, 73, 73);
  }


  .comments-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .comments-card .body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    display: inline-block;
    margin-bottom: .5rem;
  }

  .form-group-submit {
    background-color: rgb(0, 123, 255);;
    color: #dfd9d9;
    border: 2px solid #4c504c;
    border-radius: 6px;
  }